<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>OTAKU 543 - ACG交流園地</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style0.css">
    <link rel="shortcut icon" href="assets/img/logoicon.ico" />
  </head>
  <body>
    <nav id="navwrap" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="" id="myNav">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#collapse-navbar" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img id="logo" src="assets/img/logo.png" alt="Your logo"></a>
          </div>
          <!-- end navbar-header -->
          <div class="navbar-collapse collapse" id="collapse-navbar">
            <ul class="nav navbar-nav">
              <li class="nav-button b1">
                <a href="index.html"><span class="glyphicon glyphicon-home"></span> 首頁</a>
              </li>
              <li class="nav-button">
                <a href="intro.html"><span class="glyphicon glyphicon-briefcase"></span> 本站介紹</a>
              </li>
              <li class="nav-button">
                <a href="share.html"><span class="glyphicon glyphicon-film"></span> ACG分享</a>
              </li>
              <li class="nav-button">
                <a href="blog.html"><span class="glyphicon glyphicon-pencil"></span> 宅日誌</a>
              </li>
              <li class="nav-button">
                <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 連絡我們</a>
              </li>
          </div><!--end nav-collapse-->
        </div><!--end row-->
      </div><!--end container-->
    </nav><!--end nav-->
    <div class="int">
      <div class="tex">
        這裡會分享小編們的生活趣事!
      </div>
      <div class="tex">
        往下滑動即可觀看_(:3 」∠ )_
      </div>
    </div>
    <div class="blog">
      <div class="container">
        <div class="col-xs-12 thumbnail animate1">
          <div class="panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">成員介紹!<small>　(2016.01.11)</small></h3>
            </div>
            <p>我是小編「炎之男」，我來介紹另一個小編～</p>
            <img class="pic" src="assets/img/blog02.jpg" alt="" />
            <p>他就是凱莉貝爾！</p>
            <p>是個悶騷的肥...呃不，圓潤的大學生。</p>
            <div id="bg2" class="collapse">
              <p>
                沒有更多了!
              </p>
            </div><!-- end coll-->
            <button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#bg2">
              閱讀更多
            </button>
          </div>
          <!-- end panel -->
        </div>
        <!-- end thumbnail -->

        <div class="col-xs-12 thumbnail animate1">
          <div class="panel-info">
            <div class="panel-heading">
  						<h3 class="panel-title">架站完成!<small>　(2016.01.11)</small></h3>
  					</div>
            <p>經過連續幾周的折騰，本站終於架設完成!附上小編中二照一張w</p>
            <img class="pic" src="assets/img/blog01.jpg" alt="" />
            <p>為了搞網站已經當了好幾天的金肝郎，其它作業也擱著沒做</p>
            <p>好孩子請勿模仿呀...</p>
            <p>新的一年也請大家多多指教！</p>
            <div id="bg1" class="collapse">
              <p>
                沒有更多了!
              </p>
            </div><!-- end coll-->
            <button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#bg1">
              閱讀更多
            </button>
          </div>
          <!-- end panel -->
        </div>
        <!-- end thumbnail -->
      </div>
    </div>
    <footer>
      <div class="container">
        <span></span>Copyright © 2016 OTAKU543 All rights reserved
        <div class="">
          <span>動畫、遊戲、漫畫之圖片版權階為作者及發行商所有</span>
        </div>
      </div>
    </footer>
  </body>
  <script src="assets/js/jquery-2.1.4.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/script.js"></script>

</html>
