<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>OTAKU 543 - ACG交流園地</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style0.css">
    <link rel="shortcut icon" href="assets/img/logoicon.ico" />
  </head>
  <body>
    <nav id="navwrap" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="" id="myNav">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#collapse-navbar" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img id="logo" src="assets/img/logo.png" alt="Your logo"></a>
          </div>
          <!-- end navbar-header -->
          <div class="navbar-collapse collapse" id="collapse-navbar">
            <ul class="nav navbar-nav">
              <li class="nav-button active">
                <a class="bk" href="index.html"><span class="glyphicon glyphicon-home"></span> 首頁</a>
              </li>
              <li class="nav-button">
                <a href="intro.html"><span class="glyphicon glyphicon-briefcase"></span> 本站介紹</a>
              </li>
              <li class="nav-button">
                <a href="share.html"><span class="glyphicon glyphicon-film"></span> ACG分享</a>
              </li>
              <li class="nav-button">
                <a href="blog.html"><span class="glyphicon glyphicon-pencil"></span> 宅日誌</a>
              </li>
              <li class="nav-button">
                <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 連絡我們</a>
              </li>
          </div><!--end nav-collapse-->
        </div><!--end row-->
      </div><!--end container-->
    </nav><!--end nav-->
    <div class="Junbotron">
      <div class="container">
            <img id="logo-lg" src="assets/img/logo.png" alt="" />
      </div>
    </div><!--end Junbotron-->


    <div id="Speak">
      <div class="container animate1" >
        <div class="tex">你知道什麼是「宅」嗎</div>
        <div class="tex">你認為看動漫、打GAME是「宅」的一種表現嗎</div>
      </div>
    </div><!--end Speak-->

    <div id="intro">
      <div class="container  animate1">
        <div class="tex">如果你對「宅」的定義模糊</div>
        <div class="tex ">那就來對地方了!</div>
        <div class="tex ">OTAKU543 將帶你初步了解宅文化</div>
        <p>
          <a class="btn btn-primary btn-lg  animate1" href="intro.html">點我了解更多(╹◡╹)</a>
        </p>
      </div>
    </div>
    <div  id="gogo">
      <div class="container">
        <div class="">
          <div class="tex animate1">
            想接觸動畫、漫畫、遊戲，卻毫無頭緒？
          </div>
          <div class="tex animate1">
            想打發時間，娛樂休閒？
          </div>
          <div class="tex animate1">
            不妨參考我們的推薦!
          </div>
          <div class="col-xs-12 col-sm-4 thumbnail animate1">
            <div class="panel-default">
              <a href="share.html" class="btn btn-danger btn-block btn-lg">動畫</a>
              <a href="share.html"><img class="pic img-circle"  src="assets/img/video.png" alt="" /></a>
            </div>
            <!-- end panel -->
          </div>
          <!-- end thumbnail -->

          <div class="col-xs-12 col-sm-4  thumbnail animate1">
            <div class="panel-default">
              <a href="share.html" class="btn btn-success btn-block btn-lg">遊戲</a>
              <a href="share.html"><img class="pic img-circle" src="assets/img/game.png" alt="" /></a>
            </div>
            <!-- end panel -->
          </div>
          <!-- end thumbnail -->

          <div class="col-xs-12 col-sm-4  thumbnail animate1">
            <div class="panel-default">
              <a href="share.html" class="btn btn-info btn-block btn-lg">漫畫</a>
              <a href="share.html"><img class="pic img-circle" src="assets/img/book.png" alt="" /></a>
            </div>
            <!-- end panel -->
          </div>
          <!-- end thumbnail -->
        </div>
      </div>
    </div><!--end gogo-->



    <footer>
      <div class="container">
        <span></span>Copyright © 2016 OTAKU543 All rights reserved
        <div class="">
          <span>動畫、遊戲、漫畫之圖片版權階為作者及發行商所有</span>
        </div>
      </div>
    </footer>
  </body>
  <script src="assets/js/jquery-2.1.4.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/script.js"></script>
</html>
