<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>OTAKU 543 - ACG交流園地</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style0.css">
    <link rel="shortcut icon" href="assets/img/logoicon.ico" />

    <script type="text/javascript">
function SetCwinHeight()
{
var iframeid=document.getElementById("mainframe"); //iframe id
  if (document.getElementById)
  {
   if (iframeid && !window.opera)
   {
    if (iframeid.contentDocument && iframeid.contentDocument.body.offsetHeight)
     {
       iframeid.height = iframeid.contentDocument.body.offsetHeight;
     }else if(iframeid.Document && iframeid.Document.body.scrollHeight)
  
       iframeid.height = iframeid.Document.body.scrollHeight;
      }
    }
   }
}
</script>
  </head>
  <body>
    <nav id="navwrap" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="" id="myNav">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#collapse-navbar" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img id="logo" src="assets/img/logo.png" alt="Your logo"></a>
          </div>
          <!-- end navbar-header -->
          <div class="navbar-collapse collapse" id="collapse-navbar">
            <ul class="nav navbar-nav">
              <li class="nav-button b1">
                <a href="index.html"><span class="glyphicon glyphicon-home"></span> 首頁</a>
              </li>
              <li class="nav-button">
                <a href="intro.html"><span class="glyphicon glyphicon-briefcase"></span> 本站介紹</a>
              </li>
              <li class="nav-button">
                <a href="share.html"><span class="glyphicon glyphicon-film"></span> ACG分享</a>
              </li>
              <li class="nav-button">
                <a href="blog.html"><span class="glyphicon glyphicon-pencil"></span> 宅日誌</a>
              </li>
              <li class="nav-button">
                <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 連絡我們</a>
              </li>
          </div><!--end nav-collapse-->
        </div><!--end row-->
      </div><!--end container-->
    </nav><!--end nav-->
    <div class="container">
      <div class="row carousel slide" id="myCarousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
          <li data-slide-to="1" data-target="#myCarousel"></li>
          <li data-slide-to="2" data-target="#myCarousel"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active" id="slide1">
            <div class="carousel-caption">
              <h4>萬花筒之星</h4>
              <p>夢想成為萬花筒劇團演員的少女，扣人心弦的勵志故事就此展開！</p>
            </div>
            <!-- end carousel-caption -->
          </div>
          <!-- end item -->

          <div class="item" id="slide2">
            <div class="carousel-caption">
              <h4>真月譚月姬</h4>
              <p>從原作遊戲改編的月姬漫畫版，主線描寫得淋漓盡致！</p>
            </div>
            <!-- end carousel-caption -->
          </div>
          <!-- end item -->

          <div class="item" id="slide3">
            <div class="carousel-caption">
              <h4>Mabinogi 瑪奇</h4>
              <p>歷經十多年依然不死，世界觀架構龐大的沙盒遊戲！</p>
            </div>
            <!-- end carousel-caption -->
          </div>
          <!-- end item -->
        </div>
        <!-- end carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" data-slide="prev" href="#myCarousel">
          <span class="icon-prev"></span></a>

        <a class="right carousel-control" data-slide="next" href="#myCarousel">
          <span class="icon-next"></span></a>

      </div>
      <!-- end myCarousel -->

      <div class="tabbable" id="myTab"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li id="center-tab" class="active">
                <a href="#tab1" data-toggle="tab"><h1>動畫</h1></a>
              </li>
              <li id="center-tab1">
                <a href="#tab2" data-toggle="tab"><h1>漫畫</h1></a>
              </li>
              <li id="center-tab2" >
                <a href="#tab3" data-toggle="tab"><h1>遊戲</h1></a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">

                <div class="col-xs-12 thumbnail animate1">
                  <div class="panel-danger">
                    <div class="panel-heading">
                      <h1 class="panel-title ">萬花筒之星<small>　(2016.01.11)</small></h1>
                    </div>
                    <img class="pic" src="assets/img/k1.jpg" alt="" />
                    <p><h4>大家以前有沒有聽過或看過萬花筒之星呢？</p>
                    <p>台灣卡通頻道於2003年11月3日首播</h4></p>
                    <div id="a1" class="collapse parag">
                        <p>主角就是這位少女－－苗木野空</p>
                        <img src="assets/img/k0.jpg" alt="" />
                        <p>夢想成為萬花筒劇團的演員，空隻身從日本來到美國</p>
                        <img src="assets/img/k2.jpg" alt="" />
                        <p>不過一到美國後行李就遭竊，最後終於奪回</p>
                        <img src="assets/img/k3.jpg" alt="" />
                        <p>被帶到警局作筆錄，甚至被當成離家出走的小孩</p>
                        <img src="assets/img/k4.jpg" alt="" />
                        <p>也因此耽擱了劇團的選秀時間，被劇團的臺柱－－蕾拉回絕</p>
                        <img src="assets/img/k5.jpg" alt="" />
                        <p>參觀後台的時候意外地使其中一個團員受傷</p>
                        <img src="assets/img/k6.jpg" alt="" />
                        <p>但也因此誤打誤撞，從老闆－－卡洛斯手上得到首秀的機會</p>
                        <img src="assets/img/k7.jpg" alt="" />
                        <p>空終究是初次登台，連彈簧床都不會跳</p>
                        <img src="assets/img/k8.jpg" alt="" />
                        <p>幸好漸入佳境，首秀平安結束</p>
                        <img src="assets/img/k9.jpg" alt="" />
                        <p>但粗糙的演技，仍受到蕾拉的嚴厲批評與驅逐</p>
                        <img src="assets/img/k10.jpg" alt="" />
                        <p>空原本萬念俱灰，準備打道回府，離開美國</p>
                        <p>但此時收到了意外的消息，老闆卡洛斯決定錄用空</p>
                        <img src="assets/img/k11.jpg" alt="" />
                        <p>卡洛斯深信空身上擁有的潛質，相信她會成為萬花筒之星！</p>
                        <img src="assets/img/k12.jpg" alt="" />
                        <p>此後歷經過各種波折與挑戰，空正不斷蛻變</p>
                        <p>空究竟會失敗，亦或是成功？</p>
                        <img src="assets/img/k13.jpg" alt="" />
                        <p>感人的勵志故事，正等您親自體會！</h4></p>
                    </div><!-- end coll-->
                    <button type="button" class="btn btn-danger btn-lg" data-toggle="collapse" data-target="#a1">
                      閱讀更多
                    </button>
                  </div>
                  <!-- end panel -->
                </div>
                <!-- end thumbnail -->
              </div>

              <div class="tab-pane fade" id="tab2">
                <div class="col-xs-12 thumbnail animate1">
                  <div class="panel-info">
                    <div class="panel-heading">
                      <h1 class="panel-title ">真月譚月姬<small>　(2016.01.11)</small></h1>
                    </div>
                    <img class="pic" src="assets/img/m1.jpg" alt="" />
                    <p><h4>月姬原是來自於Type-Moon於2000年推出的一款十八禁美少女遊戲</p>
                    <p>之後相繼被改編成動畫與漫畫</h4></p>

                    <div id="m1" class="collapse parag">
                      <p><h4>Type-Moon出產的作品至今近乎耳熟能詳</p>
                      <img src="assets/img/tm.png" alt="" />
                      <p>像是2004年推出的Fate/Stay Night</p>
                      <p>至今仍不斷推出Fate系列的新作品</p>
                      <img src="assets/img/tm1.jpg" alt="" />
                      <p>以及「空之境界」系列</p>
                      <img src="assets/img/tm2.jpg" alt="" />
                      <p>回到正題，月姬的女主角便是這位金髮美女－－艾爾奎特</p>
                      <img src="assets/img/t2.jpg" alt="" />
                      <p>艾爾奎特是傳說中不老不死的吸血鬼，也擁有極強的法力</p>
                      <img src="assets/img/t3.jpg" alt="" />
                      <p>男主角則是帶著圓眼鏡的高中生－－遠野志貴</p>
                      <p>具有看透萬物之死亡的「直死之魔眼」，拿下眼鏡便能發動</p>
                      <img src="assets/img/t4.jpg" alt="" />
                      <p>他的身體存在另一個人格，是斬人如麻的殺人鬼</p>
                      <p>感知到周圍的魔性，便會喚醒這個人格！</p>
                      <img src="assets/img/t5.jpg" alt="" />
                      <p>某天艾爾奎特為了剷除其它的吸血鬼，來到遠野志貴所在城鎮</p>
                      <p>志貴與她擦肩而過而喚醒潛在人格，將艾爾奎特分屍</p>
                      <p>不老不死的艾爾奎特正好被志貴打斷企畫，花了很多精力復活</p>
                      <img src="assets/img/t6.jpg" alt="" />
                      <p>於是志貴被她找上碴，兩人誤打誤撞開始一起剷除吸血鬼的合作關係</p>
                      <p>兩個人不知不覺與彼此產生情愫，開始一段不平凡的愛情故事</p>
                      <img src="assets/img/t8.jpg" alt="" />
                      <p>吸血鬼與人類的愛情波折，以及他們即將面對的危機</p>
                      <p>她們是否能夠成功跨越？　</h4></p>
                    </div><!-- end coll-->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#m1">
                      閱讀更多
                    </button>
                  </div>
                  <!-- end panel -->
                </div>
                <!-- end thumbnail -->
              </div>
              <div class="tab-pane fade" id="tab3">
                <div class="col-xs-12 thumbnail animate1">
                  <div class="panel-success">
                    <div class="panel-heading">
                      <h1 class="panel-title ">Mabinogi 瑪奇<small>　(2016.01.11)</small></h1>
                    </div>
                    <img class="pic" src="assets/img/g1.jpg" alt="" />
                    <p><h4>嗯？怎麼跟印象中的瑪奇不太一樣呢？</p>
                    <p>我想可能是把「瑪奇」與「瑪奇英雄傳」搞混囉！</h4></p>

                    <div id="g1" class="collapse parag">
                      <p><h4>Nexon在2010年推出《新瑪奇英雄傳》</p>
                      <p>2012年暑假由遊戲橘子代理進台灣，2015年遊戲橘子宣布遊戲結束營運</p>
                      <p>而後馬上由Garena台灣競舞宣布重新代理，並大力宣傳</p>
                      <img src="assets/img/g3.jpg" alt="" />
                      <p>瑪奇英雄傳以寫實絕美的人物，細膩的劇情與戰鬥系統聞名</p>
                      <p>不過...這並不是我們此文探討的主題(咳)</p>
                      <p>瑪奇同樣由Nexon在2004年發行，台灣2005年於遊戲橘子開始營運</p>
                      <p>以北歐凱爾特神話為藍本的MMORPG！</p>
                      <img src="assets/img/g4.jpg" alt="" />
                      <p>以北歐凱爾特神話為藍本的MMORPG！</p>
                      <p>有豐富的角色養成，以及可愛多樣的紙娃娃系統</p>
                      <img src="assets/img/g5.jpg" alt="" />
                      <p>遊戲主打口號就是「夢想新生活」！</p>
                      <p>舉凡戰鬥、任務、旅行、料理、釣魚、採集等各式各樣可以做的事！</p>
                      <p>農林漁耕樣樣階通！</p>
                      <img src="assets/img/g6.jpg" alt="" />
                      <p>當然更少不了與玩家的互動！</p>
                      <img src="assets/img/g7.jpg" alt="" />
                      <p>疲累的時候不妨坐在營火旁，和大家聊聊天，彈唱幾首歌吧！</p>
                      <p>就在去年暑假，瑪奇的台港伺服器也歷經了第十周年</p>
                      <img src="assets/img/g8.jpg" alt="" />
                      <p>不僅是老玩家的點點滴滴，更是永恆的感動</p>
                      <p>廣大的愛爾琳世界，正等待著，並歡迎您去探索哦！</h4></p>
                      <p>
                        <iframe src="https://www.youtube.com/embed/31dnegO76Xo" name="mainframe" width="100%" marginwidth="0" marginheight="0" onload="Javascript:SetCwinHeight()"  scrolling="No" frameborder="0" id="mainframe"  ></iframe>
                      </p>
                    </div><!-- end coll-->
                    <button type="button" class="btn btn-success btn-lg" data-toggle="collapse" data-target="#g1">
                      閱讀更多
                    </button>
                  </div>
                  <!-- end panel -->
                </div>
                <!-- end thumbnail -->
              </div>
            </div>
      </div>
          </div>

    <footer>
      <div class="container">
        <span></span>Copyright © 2016 OTAKU543 All rights reserved
        <div class="">
          <span>動畫、遊戲、漫畫之圖片版權階為作者及發行商所有</span>
        </div>
      </div>
    </footer>
  </body>
  <script src="assets/js/jquery-2.1.4.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/script.js"></script>

</html>
